.container {
  margin: 10px;
}
.line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.liked {
  margin: 10px 0;
  display: flex;
  align-items: center;
}
.textLike {
  margin-left: 7px;
  font-size: 0.9rem;
}
.textLike span {
  font-weight: bold;
}
.textComment {
  display: flex;
  align-items: center;
  height: 5vh;
}
.commentTitel {
  font-weight: bold;
  margin-right: 10px;
}
.time {
  color: #8e8e8e;
  font-size: 0.6rem;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #efefef;
}
.allComment {
  color: #8e8e8e;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
}
.space {
  width: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.addComment {
  margin-top: 15px;
}
.input {
  border: none;
  width: 90%;
  padding: 5px 15px;
}
.input::placeholder {
  color: #8e8e8e;
}
.input:focus {
  outline: none;
}
.link {
  text-decoration: none;
  color: #0095f6;
  opacity: 0.5;
}

@media screen and (max-width: 640px) {
  .addComment {
    display: none;
  }
  .time {
    border-bottom: none;
  }
}
