.container{
    width: 100%;
    border: 1px solid #dbdbdb;
    display: flex;
    padding: 10px;
    overflow: hidden;
    border-radius: 3px;
    background-color: #fff;
}
.storyContainer{
    margin: 0 11px;
}
.username{
     font-size: 0.75rem;  
     text-align: center; 
     margin-top: 5px;
}

@media screen and (max-width:640px) {
    .container{
        background-color: #fafafa;
        border: none;
    }  
}